* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    position: fixed;
    z-index: 999;
    top: 50px;
    right: 50px;
}

nav > ul > li{
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
}

nav > ul > li > a{
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}


.container1{
    background-color: red;
    height: 100vh;
    position: relative;
}

.container2{
    background-color: green;
    height: 100vh;
    position: relative;
}

.container3{
    background-color: yellow;
    height: 100vh;
    position: relative;
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

h1{
    position: absolute;
    text-transform: uppercase;
    color: yellow;
    top: 80%;
    left: 50%;
    transform: translate(-50% , -30%);
    font-size: 40px;
    text-align: center;
}

.container3 > h1{
    color: green;
}


